footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: hsl(167, 58%, 68%);
    color: hsl(168, 34%, 41%);
    padding: 90px 0;
    font-family: 'Barlow', sans-serif;
}

footer ul {
    display: flex;
    margin: 30px 0;
}

footer ul li {
    list-style: none;
}

footer ul li:not(:last-child) {
    margin-right: 40px;
}

footer ul li a {
    font-weight: bold;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

footer .socials a:not(:last-child) {
    margin-right: 30px;
}